@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(88, 134, 221);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;

}

#log{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 270px;
    height: 500px;
    border-radius: 22px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.447);
    

    transition: width .5s, heigth .4s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);

}

#esq{
    display: block;
    background:rgb(88, 134, 221) url(../imagens/pexels-ithalu-907485.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

#dir{
    display: block;
    padding: 10px;
}

#dir h1{
    text-align: center;
    margin-bottom: 10px;

}

#dir p{
    margin-bottom: 4px;
    font-size: 0.8em;
}
.camp{
    background-color:rgb(255, 148, 109);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin:4px 0px ;
}

.camp i{
    font-size: 2em;
    width: 15%;

    padding: 5px;
}

.camp input{
    border: 1.5px solid rgb(255, 148, 109);
    font-size: 1em;
    height: 100%;
    width:calc(100% - 17%);
    padding: 2px;
    border-radius: 8px;
    transform: translateY(-11px);

}
.camp input:focus-within{
    background-color: wheat;

}
form label{
    display: none;

}

form input[type="submit"]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(248, 191, 85);
    border: none;
    border-radius: 7px;
}



form input[type="submit"]:hover{
    background-color: rgb(255, 166, 0);
}


form > a.bot{
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 1px;
    width: 100%;
    height: 40px;
    background-color: rgb(240, 229, 208);
    border:2px solid orange;
    border-radius: 7px;
    margin: 2px;
    color: black;
    text-decoration: none;
}
form > a.bot:hover{
    background-color: rgb(255, 166, 0);
}

#allan{
    display: block;
    size: 9em;
    text-align: center;
    color: black;
}